<ion-header-bar class="bar-positive">
        <h1 class="title">Tambah Repository</h1>
</ion-header-bar>
<ion-content class="padding">
      <form>
        <ion-list>
        <p>
            <label class="item item-input">
                <input type="text" ng-model="repository.nama_barang" placeholder="Nama Barang">
            </label>
            <label class="item item-input">
                <input type="text" ng-model="repository.jenis_barang" placeholder="Jenis Barang">
            </label>
        </p>
        </ion-list>
        <div class="spacer" style="height: 5px;"></div>
        <button class="button icon ion-person-stalker button-balanced button-block" ng-click="simpan();"> Simpan</button>
    </form>
</ion-content>